<form>
	<table border="0" class="formInput">
		<tr>
			<td>Base Amount</td>
			<td>
				<input
					type="number"
					name="base_amount"
					id="base_amount"
					placeholder="10,000"
					[(ngModel)]="base_amount"
					(keyup)="doCalculation($event)"
				/>
			</td>
		</tr>
		<tr>
			<td>Interest Rate</td>
			<td>
				<input
					type="number"
					name="interest_rate"
					id="interest_rate"
					placeholder="9.50"
					[(ngModel)]="interest_rate"
					(keyup)="doCalculation($event)"
				/>
				<select
					name="interest_period_type"
					id="interest_period_type"
					class="ml10"
					[(ngModel)]="interest_period_type"
				>
					<option value="monthly">Monthly</option>
					<option value="yearly">Yearly</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Calculation Period</td>
			<td>
				<input
					type="number"
					name="calculation_period"
					id="calculation_period"
					placeholder="12"
					[(ngModel)]="calculation_period"
					(keyup)="doCalculation($event)"
				/>
				<select
					name="calculation_period_type"
					id="calculation_period_type"
					class="ml10"
					[(ngModel)]="calculation_period_type"
				>
					<option value="months">Months</option>
					<option value="years">Years</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Compound Interval</td>
			<td>
				<select
					name="compound_interval"
					id="compound_interval"
					[(ngModel)]="compound_interval"
				>
					<option value="monthly">Monthly</option>
					<option value="quarterly">Quarterly</option>
					<option value="halfyearly">Half Yearly</option>
					<option value="yearly">Yearly</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<button type="button">Calculate</button>
				<button type="reset" class="ml20">Reset</button>
			</td>
		</tr>
	</table>
</form>
